@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');



@theme {
    --color-victoriano-blue: #1348AE;
    --color-victoriano-yellow: #FFDF2C;
    --color-victoriano-lightblue: #1959D4;
    --color-victoriano-lightyellow: #FFD800;

    --color-victoriano-gray: #6B7280;
    --color-victoriano-lightgray: #F3F4F6;

    --font-club: "Luckiest Guy", "cursive";
}