---

---

 <nav class="w-full bg-victoriano-blue p-2 flex justify-between ">
  <div>
    Escudo
  </div>
  
  
  <div class="flex px-5 gap-2">
     
    <a href="#" class="
      bg-victoriano-blue
      text-victoriano-yellow
      p-2  
      transition-all 
      duration-300 
      ease-in-out
      hover:transform 
      hover:-skew-x-12
      hover:scale-130
      hover:bg-victoriano-lightblue
      hover: font-bold
    ">
      Inicio
    </a>
    
    <a href="#" class="
      bg-victoriano-blue
      text-victoriano-yellow
      p-2 
      transition-all 
      duration-300 
      ease-in-out
      hover:transform 
      hover:-skew-x-12
      hover:scale-150
      hover:bg-victoriano-lightblue
      hover: font-bold
    ">
      El Club
    </a>
    
    <a href="#" class="
      bg-victoriano-blue
      text-victoriano-yellow
      p-2 
      transition-all 
      duration-300 
      ease-in-out
      hover:transform 
      hover:-skew-x-12
      hover:scale-110
      hover:bg-victoriano-lightblue
      hover: font-bold
    ">
      Contacto
    </a>

    <a href="#" class="
      bg-victoriano-blue
      text-victoriano-yellow
      p-2 
      transition-all 
      duration-300 
      ease-in-out
      hover:transform 
      hover:-skew-x-12
      hover:scale-110
      hover:bg-victoriano-lightblue
      hover: font-bold
    ">
      Tienda
    </a>

    <a href="#" class="
      bg-victoriano-blue
      text-victoriano-yellow
      p-2 
      transition-all 
      duration-300 
      ease-in-out
      hover:transform 
      hover:-skew-x-12
      hover:scale-150
      hover:bg-victoriano-lightblue
      hover: font-bold
    ">
      Agenda
    </a>
  </div>
</nav>

 