---
import Image from "astro/components/Image.astro";
import logo from "../../public/images/victoriano-200x200.png"
---

 <nav class="w-full bg-victoriano-lightyellow p-2 flex justify-between ">
  <div>
    <Image src={logo} alt="CR Victoriano" width="50" height="50">

  </div>
  
  
  <div class="flex px-5 gap-2">
     
    <a href="#" class="
      bg-victoriano-lightyellow
      text-victoriano-blue
      p-2  
      transition-all 
      duration-300 
      ease-in-out
      hover:transform 
      hover:-skew-x-12
      hover:scale-130
      hover:bg-victoriano-blue
      hover:text-victoriano-lightyellow
      hover: font-bold
    ">
      Inicio
    </a>
    
    <a href="#" class="
      bg-victoriano-lightyellow
      text-victoriano-blue
      p-2  
      transition-all 
      duration-300 
      ease-in-out
      hover:transform 
      hover:-skew-x-12
      hover:scale-130
      hover:bg-victoriano-blue
      hover:text-victoriano-lightyellow
      hover: font-bold
    ">
      El Club
    </a>
    
    <a href="#" class="
      bg-victoriano-lightyellow
      text-victoriano-blue
      p-2  
      transition-all 
      duration-300 
      ease-in-out
      hover:transform 
      hover:-skew-x-12
      hover:scale-130
      hover:bg-victoriano-blue
      hover:text-victoriano-lightyellow
      hover: font-bold
    ">
      Contacto
    </a>

    <a href="#" class="
      bg-victoriano-lightyellow
      text-victoriano-blue
      p-2  
      transition-all 
      duration-300 
      ease-in-out
      hover:transform 
      hover:-skew-x-12
      hover:scale-130
      hover:bg-victoriano-blue
      hover:text-victoriano-lightyellow
      hover: font-bold
    ">
      Tienda
    </a>

    <a href="#" class="
      bg-victoriano-lightyellow
      text-victoriano-blue
      p-2  
      transition-all 
      duration-300 
      ease-in-out
      hover:transform 
      hover:-skew-x-12
      hover:scale-130
      hover:bg-victoriano-blue
      hover:text-victoriano-lightyellow
      hover: font-bold
    ">
      Agenda
    </a>
  </div>
</nav>

 