---
import "../styles/global.css"
import '@fontsource/luckiest-guy';



//import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
    title: string
}

const {title} = Astro.props
---


<html lang="es">
          
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image" href="/images/victoriano-200x200.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | CR Victorianos</title>
    </head>
    <body class="w-full min-h-screen m-0 p-0">
        <Header />
         <main>
            <slot />
         </main>
         
         <Footer />
    </body>
</html>


