---
import "../styles/global.css"
import '@fontsource/luckiest-guy';



//import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
    title: string
}

const {title} = Astro.props
---


<html lang="es">
          
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image" href="/images/victoriano-200x200.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | CR Victorianos</title>
    </head>
    <body class="w-full min-h-screen m-0 p-0">
        <Header />
         <main class="pt-16">
            <slot />
         </main>
        
         <Footer />
        
    </body>
</html>

<style>
   /* CSS de la máscara aplicado a la sección */
    .mask-footer {
        /* 1. Imagen de la máscara */
        -webkit-mask-image: url("/apoyo/Mascara-footer.png"); 
        mask-image: url("/apoyo/Mascara-footer.png");
        
        /* 2. ESCALADO DE DESBORDE: Ajusta estos valores para el tamaño visual deseado */
        /* Si quieres que ocupe el 70% del viewport, usa un valor superior a 100% 
           para forzar el desborde (ej. 150% 150%) y luego céntrala. */
        -webkit-mask-size: 100% 100%; 
        mask-size: 90% 200%;
        
        /* 3. Posición: Mueve la máscara grande para centrar la zona visible */
        -webkit-mask-position: center center; 
        mask-position: center center;
        
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        
        mask-mode: alpha;
        -webkit-mask-mode: alpha;
    }
</style>


